/* css styles */
.navbar-dark, .quarto-title-banner {
  background-color: transparent !important;  /* Makes the background transparent */
  background-image: url('monash_university_cover.jpg');  /* Sets your image */
  background-size: cover;  /* Ensures the image covers the whole area */
  background-position: center;  /* Centers the image */
}

/* Apply Dancing Script to the navbar title */
.navbar-title {
  color: white;
  font-size: 26px;
  font-family: 'Yatra One', sans-serif;
}

/* Style the menu text */
.menu-text {
  color: white;
  font-size: 20px; /* Adjust the font size if needed */
}


/*styling banner title*/
.quarto-title-banner .title {
  font-family: 'Roboto', sans-serif !important;
  color: skyblue !important;  /* White text */
  padding: 5px 10px;  /* Optional: adds some spacing inside the text block */
  display: inline-block;  /* Optional: makes the background fit just around the text */
  border-radius: 5px;  /* Optional: adds rounded corners */
}

.quarto-title-banner .description {
  color: black !important;  /* White text */
  padding: 5px 10px;  /* Adds some spacing inside the text block */
  border-radius: 5px;  /* Adds rounded corners */
  display: inline-block;  /* Makes the background fit just around the text */
}

.quarto-title-banner .categories {
  color: black !important;  /* White text */
  padding: 5px 10px;  /* Adds some spacing inside the text block */
  border-radius: 5px;  /* Adds rounded corners */
  display: inline-block;  /* Makes the background fit just around the text */
}

h1, .quarto-title {
  font-family: 'Roboto', sans-serif;
}

.custom-footer {
  background-color: #343a40; /* Background color */
  color: white; /* Text color */
  padding: 20px; /* Padding inside the footer */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Space between the two items */
  text-align: center; /* Center text inside each item */
  border-top: 5px solid #007bff; /* Optional border at the top */
  width: 100%; /* Full width */
  position: fixed; /* Stick to the bottom */
  bottom: 0; /* Position at the bottom */
  left: 0; /* Full width alignment */
  right: 0; /* Full width alignment */
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.custom-footer p {
  margin: 0; /* Remove margin between paragraphs */
}

